* {
	padding: 0;
	margin: 0 auto;
}
#container {
	height: 492px;
	width: 344px;
	border: 5px solid black;
	margin-top: 10px auto;
}

#display {
	height: 92px;
	width: 320px;
	border: 5px solid black;
	margin: 8px auto;
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-items: end;
}

#formula {
	margin: 5px;
	height: 18px;
}

#output {
	margin: 5px;
	font-size: 42px;
}

.row {
	display: flex;
}

.buttons {
	border: 3px solid black;
	margin-top: 2px;
	font-size: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	height: 65px;
	width: 76px;
	background-color: white;
	border: none;
	font-size: 38px;
}

button:hover {
	background-color: #d3d3d3;
}
button:active {
	background-color: #b5b5b5;
}
