* {
	padding: 0;
	margin: 0 auto;
}

#container {
	background-color: #1a2228;
	height: 492px;
	width: 344px;
	box-shadow: 6px 4px 15px 0 rgba(0, 0, 0, 0.4), 0 5px 20px 0 rgba(0, 0, 0, 0.4);
	border-radius: 8px;
	margin: auto;
	margin-top: 10px;
	padding: 5px;
}

#display {
	height: 92px;
	width: 320px;
	margin: 13px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
	color: white;
}

#formula {
	margin: 5px;
	height: 18px;
}

#output {
	margin: 5px;
	font-size: 34px;
	color: white;
}

.row {
	display: flex;
}

button {
	height: 65px;
	width: 76px;
	border: none;
	font-size: 38px;
	color: white;
}

.buttons {
	margin-top: 2px;
	padding: 3px;
	font-size: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttons-num {
	background-color: #363d42;
	border-radius: 30px;
}

.outside-btns {
	border-radius: 30px;
	background-color: #2d343a;
}

.buttons-outside {
	border-radius: 30px;
	background-color: #2d343a;
}

.equal-button {
	border-radius: 30px;
	background-color: #a9c6d3;
}

.numeric,
#decimal-btn,
#pos-neg-btn {
	border-radius: 30px;
	background-color: #363d42;
}

.outside-btns:hover,
.buttons-outside:hover {
	background-color: #363d42;
}

.outside-btns:active,
.buttons-outside:active {
	background-color: #2d343a;
}

.numeric:hover,
#decimal-btn:hover,
#pos-neg-btn:hover,
.buttons-num:hover {
	background-color: #2d343a;
}

.numeric:active,
#decimal-btn:active,
#pos-neg-btn:active,
.buttons-num:active {
	background-color: #363d42;
}

#equals {
	background-color: #a9c6d3;
	border-radius: 30px;
	color: #2f373b;
}

#equals:hover,
.equal-button:hover {
	background-color: #99b5c1;
}

#equals:active {
	opacity: 0.6;
}
